DATABASE_URL="postgresql://ticket:ticket@localhost:5433/ticket?schema=payment"
PORT=4002

IYZICO_URI="https://sandbox-api.iyzipay.com"
IYZICO_API_KEY="your-sandbox-api-key"
IYZICO_SECRET_KEY="your-sandbox-secret-key"
